<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyQj3Z6pBoti53viV9IsERvJZsFb0tXAI</string>
	<key>GCM_SENDER_ID</key>
	<string>76044687871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanTest</string>
	<key>PROJECT_ID</key>
	<string>fan-test-6bc7c</string>
	<key>STORAGE_BUCKET</key>
	<string>fan-test-6bc7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76044687871:ios:c06d8ecb4ac81c8ca2afca</string>
</dict>
</plist>